@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .striped *:nth-child(odd) {
    @apply bg-gray-100;
  }
  .display {
    font-family: InterDisplay, sans-serif;
  }

  .bg-gray-1 {
    background-color: #1e1e1e;
  }

  .bg-gray-2 {
    background-color: #1d1d1d;
  }

  .bg-gray-3 {
    background-color: #2f2f2f;
  }

  .bg-gray-4 {
    background-color: #393939;
  }

  .bg-gradient {
    background: linear-gradient(
      0deg,
      rgba(0, 29, 73, 1) 0%,
      rgba(29, 29, 29, 1) 40%
    );
  }
}

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}
